*{
    padding: 0%;
    margin: 0;
}
header{
    border: 2px solid crimson;
    background-color: crimson;
    padding: 50px;
    
    

}
header> a{
   color: aliceblue;
    text-decoration: none;
    margin: 0px 20px;
    

}
section{
    border: 2px solid;
    height: 400px;
    width: 1000px;
    margin: auto;
    background-color: grey

}