body{
    background-color: rgb(174, 189, 180);
    font-size: 30px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
}
ul{
    list-style:circle outside 
}
.small{
    border: 10px solid crimson ;
    padding: 100px;
    margin: 20px 30px 40px 50px;
    
}